.exams.container {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    color: rgb(48, 47, 47);
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.exams.container .examItem {
    position: relative;
    padding: 10px;
    background-color: #c1c1c11c;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 75px;
}

.examItem .header-container {
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0px;
    display: flex;
    justify-content: center;
    height: auto;
}

.examItem .header {
    color: white;
    /* background: linear-gradient(to top right, #06BF77, #006065); */
    background-color: #579371;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    border-radius: 5px;
    padding: 10px;
}



.exams.container .examItem .content {
    margin-left: 22px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.col.th {
    /* border-right: 2px solid gray;
    border-bottom: 2px solid gray; */
    text-align: center;
    font-weight: 500;
    background-color: white;
}

.examItem .col {
    text-align: center;
    width: 50px;
    border: 1px solid #96959521;
    padding: 4px;
}

.examItem .col1 {
    min-width: 150px !important;
    text-align: left;
}

.examItem .col.col1.th{
    border: none;
    background-color: transparent;
}
.examItem .row {
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #313030;
}
.examItem .row0 {
    /* background-color: white; */
    color: rgb(63, 63, 63);
}

.examItem .row1 {
    /* background-color: #2389c0; */
}

.examItem .row2 {
    /* background-color: #47a2d3; */
}

/* 
.examItem .row3 {
    background-color: #2389c0;
}

.examItem .row4 {
    background-color: #1382be;
} */

.examItem .rowTotal {
    /* font-weight: 600; */
    background-color: #10a150;
    color: azure;
}

.examItem .actionButtons {
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 11111;
}

.editButton,
.deleteButton {
    opacity: 70%;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.editButton:hover,
.deleteButton:hover {
    /* background-color: red; */
    opacity: 100%;
}

