.appNavbar{
    display: flex;
}

.home-container {
    width: 100%;
    height: 100%;
}

.home-content {
    margin-top: -50px;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.home-content .filter{
    width:270px;
}
.home-content .filter select{
    /* background: var(--tys-blue-gradient); */
}