/* Ana stil ayarlarý */
body {
    margin: 0;
    padding: 0;
    font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.5;

}

.container {
    padding: 20px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #009688;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Yüksek bir z-index deðeri verin */
    text-decoration: none;
    transition: background-color 0.3s; /* Rengin yumuþak bir þekilde deðiþmesi için geçiþ efekti */
}



    .floating-button:hover,
    .floating-button:focus,
    .floating-button:active {
        background-color: #ff9900;
    }

.floating-button2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Yüksek bir z-index deðeri verin */
    text-decoration: none;
    transition: background-color 0.3s; /* Rengin yumuþak bir þekilde deðiþmesi için geçiþ efekti */
}



    .floating-button2:hover,
    .floating-button2:focus,
    .floating-button2:active {
        background-color: red;
    }

/* Ayraç stili */
.separator {
    margin: 20px 0;
    border-bottom: 1px solid #dee2e6;
}

.sessionTotal {
    padding: 0px 10px 0px 10px;
    color: #17c35d;
    color: #ffc107;
    font-size: small;
    text-align: right;
    font-weight: 500;
    font-size: 1.2em;
}

.duration {
    color: #30cb3e;
    color: #eef956;
}


.sessionForm {
    padding: 8px;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/* Kart stil ayarlarý */
.card {
    margin-bottom: 20px;
    border: none;
    background-color: #2a2e39;
    font-size: 13px;
}

.card-header {
    background-color: #ff7402;
    color: #323936;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.card-body {
    padding: 10px;
}

/* Ders stil ayarlarý */
.lesson {
    position: relative;
    padding-left: 20px;
    border-bottom: #95c75e6b;
    border-bottom-style: double;
    border-bottom-width: thin;
    padding: 8px 8px 8px 21px;
}

    .lesson:hover {
        background-color: #5353539c;
    }

    .lesson::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: #ede954;
        border-radius: 50%;
        top: 12px;
        left: 6px;
    }

/* Zaman çizgi stili */
.time-line {
    position: relative;
    width: 5px;
    background-color: #6c757d;
    margin-left: 50%;
    transform: translateX(-50%);
}

    .time-line::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #6c757d;
        border-radius: 50%;
        top: -3px;
        left: -3px;
    }

/* Ayraç stili */
.separator {
    margin: 20px 0;
    border-bottom: 1px solid #dee2e6;
}

.sessionTotal {
    padding: 0px 10px 0px 10px;
    color: #17c35d;
    font-size: small;
    text-align: right;
}

.duration {
    color: #30cb3e;
}

.sessionForm {
    padding: 8px;
}

/*loader*/

/*loader end*/


.sessionItemButtons {
    position: absolute;
    right: -16px;
    top: -35px;
    /* width: 100px; */
    /* height: auto;*/
}

.btn {
    /*background-color: DodgerBlue;*/
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    color: #9ca6af;
}

    .btn:hover {
        background-color: RoyalBlue;
    }

.btnDelete:hover {
    background-color: red;
}

button.btn-success.btn, button.btn-secondary.btn {
    color: white;
}
