/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

:root {
  --tys-blue-gradient: linear-gradient(to top right, #02cbe6, #444b9d);
  --tys-session-pin-background-color: #06bf77;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.spinner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.301);  */
  z-index: 999;
  /* Spinner'ın diğer içeriklerin üstünde olmasını sağlar */
}

.rounded-button {
  width: 50px;
  /* Düğmenin genişliği */
  height: 50px;
  /* Düğmenin yüksekliği */
  background-color: #007bff;
  /* Düğmenin arka plan rengi */
  color: #fff;
  /* Düğme metin rengi */
  border: none;
  /* Kenarlık yok */
  border-radius: 50%;
  /* Düğme yuvarlaklığını sağlar */
  font-size: 16px;
  /* Yazı boyutu */
  position: fixed;
  /* Düğmenin sabit pozisyonda olmasını sağlar */
  bottom: 20px;
  /* Ekranın altına olan mesafe (istediğiniz gibi ayarlayabilirsiniz) */
  right: 20px;
  /* Ekranın sağına olan mesafe (istediğiniz gibi ayarlayabilirsiniz) */
  z-index: 11112;
}

.rounded-button:hover {
  background-color: #0056b3;
  /* Farenin üzerine gelindiğinde arka plan rengi */
}

